@primary-300: #e8c1a0;
@primary-400: #BF570D;
@primary-500: #636363;
@primary-600: #C2D9CA;
@secondary-600: #ECEDED;

html {
  scroll-behavior: smooth;
  //-webkit-font-smoothing: antialiased;
}

// **** Label *****
@media only screen and (max-width:767px) {
  .box-folder-label {
    display: none;
  }

  .scroll-punten {
    display: none;
  }

  .usp-hotspot {
    display: none;
  }

  .lib-block-19052-1 {
    flex-direction: column-reverse !important;

    >.arrow-left {
      position: relative;
      margin-top: 10px;
    }
  }
}

// ***** Tabellen *****
.table-row {
  padding-left: 3px;
  padding-right: 3px;

  &:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.table-body {
  .col div {
    padding: 10px;
    font-size: 16px;
  }

  &:nth-child(2n) {
    background-color: @secondary-600;
  }
}

.table-head {
  background-color: @primary-400;
  padding: 7px;

  .thead div {
    color: #fff;
  }
}

.table-head .thead,
.table-body .col {
  padding: 0px !important
}

// ***** scroll blok *****
.text-3.active p {
  font-weight: bold;
}
// link
.scroll-link{
  cursor: pointer;
}

// ***** classes weer toevoegen *****
.primary{
    color: @primary-400
}
.alt{
    color: @primary-500;
}     
.ml-0{
    margin-left:0px !important;
}

// ***** Pijlen *****
.arrow-left,
.arrow-right {
    mask-repeat: no-repeat, no-repeat;
    mask-size: auto 100%;
}

.arrow-left {
    mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 600'%3E%3Cpath id='csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051' data-name='csm Verasol Fabriek - Seher Melikoglu Fotografie-6831 a0ceb3d051' d='M1920,600H186.94c-10.69,0-23.82-7.58-29.16-16.83L4.01,316.84c-5.35-9.26-5.35-24.42,0-33.67L157.77,16.84c5.35-9.26,18.47-16.84,29.16-16.84h1733.06v600Z'/%3E%3C/svg%3E");
    mask-position: left center, 100% 0;
}

.arrow-right {
    mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 600'%3E%3Cpath id='csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051' data-name='csm Verasol Fabriek - Seher Melikoglu Fotografie-6831 a0ceb3d051' d='M0,0h1733.06c10.69,0,23.82,7.58,29.16,16.83l153.77,266.33c5.35,9.26,5.35,24.42,0,33.67l-153.77,266.33c-5.35,9.26-18.47,16.84-29.16,16.84H0V0Z'/%3E%3C/svg%3E");
    mask-position: right center, 100% 0;
}

// @media only screen and (max-width: 767px) {
//   section.has-bg-arrow.mobile-arrow-top {
//     padding: 0px 12px;
//     .arrow-top {
//       mask-size: 100% auto;
//       mask-position: top;
//       mask-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22Laag_2%22%20data-name%3D%22Laag%202%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20600%201920%22%3E%3Cg%20id%3D%22Laag_1-2%22%20data-name%3D%22Laag%201%22%3E%3Cpath%20id%3D%22csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051%22%20data-name%3D%22csm%20Verasol%20Fabriek%20-%20Seher%20Melikoglu%20Fotografie-6831%20a0ceb3d051%22%20d%3D%22M0%2C1920V186.94c0-10.69%2C7.58-23.82%2C16.83-29.16L283.16%2C4.01c9.26-5.35%2C24.42-5.35%2C33.67%2C0l266.33%2C153.76c9.26%2C5.35%2C16.84%2C18.47%2C16.84%2C29.16v1733.06H0Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
//       transform: translateX(0px);
//       height:400px;
//     }
//   }
// } // verhuisd naar algemene selector

[id*="lib-block"].has-bg-arrow {
  margin: 100px 0;
  overflow: hidden;

  &:has(.arrow-left),
  &:has(.arrow-right) {
    flex-direction: column-reverse;
  }

  .arrow-left,
  .arrow-right {
    position: relative;
    margin-top: 36px;
  }

  .arrow-left {
    transform: translateX(12px);
  }

  .arrow-right {
    transform: translateX(-12px);
  }

  .header-menu+& {
    margin-top: 0;
  }

  @media only screen and (max-width: 767px) {
    margin: 40px 0;

    &.mobile-arrow-top {
      padding: 0px 12px;

      .arrow-top {
        mask-size: 100% auto;
        mask-position: top;
        mask-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22Laag_2%22%20data-name%3D%22Laag%202%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20600%201920%22%3E%3Cg%20id%3D%22Laag_1-2%22%20data-name%3D%22Laag%201%22%3E%3Cpath%20id%3D%22csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051%22%20data-name%3D%22csm%20Verasol%20Fabriek%20-%20Seher%20Melikoglu%20Fotografie-6831%20a0ceb3d051%22%20d%3D%22M0%2C1920V186.94c0-10.69%2C7.58-23.82%2C16.83-29.16L283.16%2C4.01c9.26-5.35%2C24.42-5.35%2C33.67%2C0l266.33%2C153.76c9.26%2C5.35%2C16.84%2C18.47%2C16.84%2C29.16v1733.06H0Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        transform: translateX(0px);
        height: 400px;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .arrow-left,
    .arrow-right {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      margin-top: 0;
      transform: none;
    }

    .arrow-left {
      left: 50%;
    }

    >.media-4 {
      height: 100%;
      width: 100%;
      top: 0;
      left: 50%;
    }
  }
}

[id*="lib-block"].has-bg-arrow,
[class*="lib-block"].has-bg-arrow {
  @media only screen and (min-width: 768px) {
    &:has(+footer),
    &:has(+.showroom),
    &:has(+.bestdeal) {
      margin-bottom: 50px;
    }
  }
}

// @media (max-width:768px) {
    // [id*="lib-block"].has-bg-arrow {
    //   margin: 40px 0;
    // }
// } verkeerde max-waarde en verhuisd naar algemene selector

.vanaf-prijs {
  .card-3 {
    mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 600'%3E%3Cpath id='csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051' data-name='csm Verasol Fabriek - Seher Melikoglu Fotografie-6831 a0ceb3d051' d='M1920,600H186.94c-10.69,0-23.82-7.58-29.16-16.83L4.01,316.84c-5.35-9.26-5.35-24.42,0-33.67L157.77,16.84c5.35-9.26,18.47-16.84,29.16-16.84h1733.06v600Z'/%3E%3C/svg%3E");
    mask-position: right center, 100% 0;
    mask-repeat: no-repeat;
    mask-size: 250px;
    .text-4 {
      margin: 3px 3px 0px;
      text-align: right;
      padding-right: 20px;
      font-size:16px;
      color:#fff;
      transform: translate(0px, 3px);
    }
    .heading-4 {
      text-align: right;
      font-size: 32px;
      padding-right: 20px;
      color:#fff;
      transform: translate(0px, -7px);
    }
  }
}

// @media only screen and (min-width: 768px) {
//     [id*="lib-block"].has-bg-arrow {
//         .arrow-left,
//         .arrow-right {
//             position: absolute;
//             height: 100%;
//             width: 100%;
//             top: 0;
//             margin-top: 0;
//             transform: none;
//         }
        
//         .arrow-left {
//             left: 50%;
//         }
//     }
// } verhuisd naar algemene selecctor

// usp pijlen
@media only screen and (max-width: 1023px) {
  .usp-pijl-rechts{
    display: none !important;
  }
  .usp-pijl-links{
    display: none !important;
  }
}

.usp-pijl-rechts::before {
  content: "";
  margin-right: -20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Laag_1' data-name='Laag 1' viewBox='0 0 40.46 88.06'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23bf570d; %7D .cls-2 %7B fill: %23fff; isolation: isolate; %7D %3C/style%3E%3C/defs%3E%3Cg id='Group_242' data-name='Group 242'%3E%3Cg id='Group_186-2' data-name='Group 186-2'%3E%3Cpath id='Path_79-2' data-name='Path 79-2' class='cls-1' d='M14.08,83.78c1.64-.07,3.16-.89,4.12-2.22l2.02-3.28,19.68-31.93c.75-1.39.75-3.06,0-4.45L20.22,9.97l-2.02-3.28c-.96-1.33-2.48-2.16-4.12-2.23H2v79.31h12.08Z'/%3E%3Cpath id='Union_4-2' data-name='Union 4-2' class='cls-2' d='M0,88.06h4.22c1.82-.08,3.5-.99,4.56-2.47l2.24-3.63,21.81-35.37c.84-1.54.84-3.39,0-4.93L11.02,6.28l-2.24-3.63C7.72,1.18,6.04.27,4.23.19L0,0v88.06Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); 
  background-repeat: no-repeat;
  background-position: right;
  z-index: 0;
  pointer-events: none;
}

.usp-pijl-links::before {
  content: "";
  margin-left: -20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Laag_1' data-name='Laag 1' viewBox='0 0 40.47 88.07'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23bf570d; %7D .cls-2 %7B fill: %23fff; isolation: isolate; %7D %3C/style%3E%3C/defs%3E%3Cg id='Group_242' data-name='Group 242'%3E%3Cg id='Group_186-2' data-name='Group 186-2'%3E%3Cpath id='Path_79-2' data-name='Path 79-2' class='cls-1' d='M39.46,4.28h-13.08c-1.64.07-3.16.89-4.12,2.22l-2.02,3.28L.56,41.71c-.75,1.39-.75,3.06,0,4.45l19.68,31.93,2.02,3.28c.96,1.33,2.48,2.16,4.12,2.23h13.08V4.28Z'/%3E%3Cpath id='Union_4-2' data-name='Union 4-2' class='cls-2' d='M40.46,0h-4.22c-1.82.08-3.5.99-4.56,2.47l-2.24,3.63L7.63,41.47c-.84,1.54-.84,3.39,0,4.93l21.81,35.38,2.24,3.63c1.06,1.48,2.74,2.39,4.56,2.47l4.23.19V0h0Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left;
  z-index: 0;
  pointer-events: none;
}

// @media only screen and (min-width: 768px) {
//   [id*="lib-block"].has-bg-arrow>.media-4 {
//     height: 100%;
//     width: 100%;
//     top: 0;
//     left: 50%;
//   }
// } //verhuisd naar algemene selector

// usp pijlen NEW
.hero-arrows {
  padding: 12px !important;
  padding-top: 30px !important;
  min-height: 510px !important;

  &.hero {
    min-height: 490px !important;

    .media-4 {
      border-radius: 0;
    }

    .col.content {
      align-items: center;
      justify-content: center;
    }

    .text-hero .heading-1 {
      text-align: center;
    }

    .col.arrows {
      display: none;
    }

    .box.arrows {
      left: unset;
      right: 0;
    }
  }

  .container {
    width: 100%;
  }

  .row-1,
  .row-2 {
    padding: 0;
  }

  .media-4 {
    border-radius: 20px;

    &:after {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .col.content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }

  .col.arrows {
    padding: 0;
  }

  .box.arrows {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    gap: 10px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .heading-1 {
    text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5);
  }

  .usp {
    &.usp-arrow-right,
    &.usp-arrow-left {
      padding: 5px;
      background-color: #FFFFFF;
      z-index: 99;
      display: flex;
      height: 45px;
      position: relative;
      align-items: center;
      width: fit-content;

      &:nth-of-type(1) {
        grid-area: ~"1 / 1 / 2 / 2";
      }

      &:nth-of-type(2) {
        grid-area: ~"2 / 1 / 3 / 2";
      }

      &:nth-of-type(3) {
        grid-area: ~"3 / 1 / 4 / 2";
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        background-repeat: no-repeat;
        z-index: 0;
        pointer-events: none;
        height: 100%;
        aspect-ratio: 1/2;
      }
    }

    &.usp-arrow-right {
      padding-right: 20px;
      left: 0;

      &::before {
        margin-right: -20px;
        right: 0;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 88'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23bf570d; %7D .cls-2 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Path_79-2' data-name='Path 79-2' class='cls-1' d='M17.64,83.75c1.64-.07,3.16-.89,4.12-2.22l2.02-3.28,19.67-31.91c.75-1.39.75-3.06,0-4.45L23.77,9.99l-2.02-3.28c-.96-1.33-2.48-2.16-4.12-2.23H5.56v79.26h12.07Z'/%3E%3Cpath class='cls-2' d='M36.37,41.63L14.58,6.28l-2.24-3.63C11.28,1.18,9.6.27,7.79.19l-4.23-.19H0v88h7.78c1.82-.08,3.5-.99,4.56-2.47l2.24-3.63,21.8-35.35c.84-1.54.84-3.39,0-4.93Z'/%3E%3C/svg%3E");
        background-position: right;
      }
    }

    &.usp-arrow-left {
      padding-left: 20px;
      right: 0;
      justify-self: flex-end;

      &::before {
        margin-left: -20px;
        left: 0;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 88'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23bf570d; %7D .cls-2 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Path_79-2' data-name='Path 79-2' class='cls-1' d='M26.36,4.25c-1.64.07-3.16.89-4.12,2.22l-2.02,3.28L.56,41.65c-.75,1.39-.75,3.06,0,4.45l19.67,31.91,2.02,3.28c.96,1.33,2.48,2.16,4.12,2.23h12.07V4.26h-12.07Z'/%3E%3Cpath class='cls-2' d='M7.63,46.37l21.8,35.36,2.24,3.63c1.06,1.47,2.74,2.38,4.55,2.46l4.23.19h3.57V0h-7.78c-1.82.08-3.5.99-4.56,2.47l-2.24,3.63L7.63,41.44c-.84,1.54-.84,3.39,0,4.93Z'/%3E%3C/svg%3E");
        background-position: left;
      }
    }

    .text-1 {
      font-size: 12px;
      padding: 0px;
      white-space: normal;
      line-height: 1.2;
      color: @primary-500;
    }
  }

  .actie-vaantje-onderkant {
    margin-top: -30px;
  }

  @media only screen and (min-width: 480px) {
    .usp .text-1 {
      font-size: 14px;
    }
  }

  @media only screen and (min-width: 768px) {
    .col.content {
      padding: 30px;
    }

    .box.arrows {
      padding-bottom: 60px;
    }

    .usp {
      &.usp-arrow-left,
      &.usp-arrow-right {
        height: 55px;
      }

      &.usp-arrow-right {
        padding-left: 10px;

        &::before {
          margin-right: -27px;
        }
      }

      &.usp-arrow-left {
        padding-right: 10px;

        &::before {
          margin-left: -27px;
        }
      }

      .text-1 {
        font-size: 18px;
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    min-height: 800px !important;

    &.hero {
      padding: 0 !important;
      min-height: 570px !important;

      .col.arrows {
        display: flex;
      }
    }

    .col.content {
      padding: 60px;
    }

    .box.arrows {
      padding-bottom: 80px;
      gap: 20px;
    }

    .usp {
      &.usp-arrow-left {
        padding-right: 20px;
      }

      &.usp-arrow-right {
        padding-left: 20px;
      }
    }
  }
}

// ***** Vlaggen *****
// vlaggen algemeen
.menu nav[data-menu="language"]::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
}

// vlaggen inhoud
// misschien vervangen voor url van de bestanden na livegang
html[lang="nl"] .menu nav[data-menu="language"]::after {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23ae1c28; %7D .cls-2 %7B fill: %2321468b; %7D .cls-3 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M14.59,170.67h482.83C462.27,71.24,367.46,0,256,0S49.73,71.24,14.59,170.67Z'/%3E%3Cpath class='cls-3' d='M0,256c0,29.92,5.15,58.64,14.59,85.33h482.83c9.44-26.69,14.59-55.41,14.59-85.33s-5.15-58.64-14.59-85.33H14.59C5.15,197.36,0,226.08,0,256Z'/%3E%3Cpath class='cls-2' d='M497.41,341.33H14.59c35.15,99.43,129.95,170.67,241.41,170.67s206.27-71.24,241.41-170.67Z'/%3E%3C/svg%3E");
}

html[lang="de"] .menu nav[data-menu="language"]::after {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fc0; %7D .cls-2 %7B fill: %23000001; %7D .cls-3 %7B fill: red; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M497.41,341.33H14.59c35.15,99.43,129.95,170.67,241.41,170.67s206.27-71.24,241.41-170.67Z'/%3E%3Cpath class='cls-2' d='M14.59,170.67h482.83C462.27,71.24,367.46,0,256,0S49.73,71.24,14.59,170.67Z'/%3E%3Cpath class='cls-3' d='M0,256c0,29.92,5.15,58.64,14.59,85.33h482.83c9.44-26.69,14.59-55.41,14.59-85.33s-5.15-58.64-14.59-85.33H14.59C5.15,197.36,0,226.08,0,256Z'/%3E%3C/svg%3E");
}

// ***** Acties *****
.actie-banner-mobiel {
  display: none;
}

.actie-vaantje-categorie {
  display: block;
}

@media only screen and (max-width: 600px) {
  .actie-banner-mobiel {
    display: block;
  }

  .actie-vaantje-categorie {
    display: none;
  }
}

// ***** Locator Widget *****
@media only screen and (min-width: 768px) {
  .locator-widget input {
    text-align: left;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 18'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23636363; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M15.48,8.5c-.24-3.18-2.79-5.73-5.98-5.97V0h-1v2.53c-3.18.24-5.73,2.79-5.97,5.97H0v1h2.53c.24,3.18,2.79,5.73,5.97,5.97v2.53h1v-2.53c3.19-.24,5.73-2.79,5.98-5.97h1.53v-1h-1.53ZM8.5,3.53v2.03c-1.53.22-2.73,1.42-2.95,2.95h-2.03c.24-2.63,2.34-4.74,4.97-4.97ZM3.53,9.5h2.03c.22,1.53,1.42,2.73,2.95,2.95v2.02c-2.63-.24-4.74-2.34-4.97-4.97ZM9.5,14.47v-2.02c1.53-.22,2.73-1.42,2.95-2.95h2.03c-.24,2.63-2.34,4.74-4.98,4.97ZM12.45,8.5c-.22-1.53-1.42-2.73-2.95-2.95v-2.03c2.63.24,4.74,2.34,4.98,4.97h-2.03Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    padding-left: 32px;
    background-size: 18px;
    background-position-y: center;
  }
}

// ***** Sliders *****
// Slider bullets
.control-wrapper.bullets, .swiper-pagination-bullets {
  column-gap: 6px!important;

  button.bullet, span.control-3 {
    background-color:#dbdbdb;
    width:10px;
    border:none;
    &.active {width:30px; background-color:@primary-400;}
  }
}

// Categorie slider
.cat-slider {
  .card-3 {
    .button-4 {
      border:none;
    }
    .cat-slider-submenu {
      display:none;
      width: auto!important;
      justify-self: center;

      .button-wrapper {
        background-color:#fff;
        border-radius:10px;
        padding:5px 15px;

        .button-6 {
          border-right: 1px solid #eee;
          padding: 0px 15px 0px 5px;
          text-align: center;
          color:@primary-400;

          &:last-of-type {
            border-right:none;
          }
        }
      }
    }

    &:hover {
      .button-4 {
        background-color:@primary-400;
        color:#fff;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
      }
      .cat-slider-submenu {
        display:block;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .cat-slider {
    .swiper-slide-active {
      .card-3 {
        .button-4 {
          background-color:@primary-400!important;
          color:#fff!important;
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2)!important;
        }

        .cat-slider-submenu {
          display:block;
        }
      }
    }
  }
}

// Oranje rand/schaduw on hover
.orange-shadow {
  &:after {
    position:absolute;
    content:'';
    bottom:0px;
    width:90%;
    justify-self: center;
    height:0px;
    background:transparent;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition:.3s all ease-in-out;
  }

  &:hover {
    &:after {
      background:@primary-400;
      bottom:-10px;
      height:10px;
      transition:.3s all ease-in-out;
    }
  }
}

@media only screen and (max-width: 767px) {
  .swiper-slide-active {
    .orange-shadow {
      &:after {
        background:@primary-400!important;
        bottom:-10px!important;
        height:10px!important;
      }
    }
  }
}

// Grey bg arrow
div#page-1977967 {// Homepage
  .ons-assortiment .grey-bg-arrow {
    display: none;
  }
}

.ons-assortiment { 
  .grey-bg-arrow {
      width: 100%;
      background-size: auto 75%;
      background-position: -200px bottom;
      background-repeat: no-repeat;
      background-image: url(https://files.bureauvdo.nl/grey_bg-arrow-right.svg);
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
  }

  button {
    &.previous {
      fill:@primary-300!important;
    }
  
    &.next {
      fill:@primary-400!important;
    }
  }

  .cat-slider-submenu {
		position: absolute;
		justify-content: center;
		align-items: center;
		bottom: 20px;
		width: 100%;

    a.button-6 {
      text-decoration:none;

      &:hover {
        text-decoration:underline;
      }
    }
	}
}
// ***** Formulieren *****
section.form {
  .card-4 {
    .checkboxes,
    .radios {
      display: flex;
      flex-wrap: wrap;

      > div {
        width: 50%;
      }
    }
  }

  &.newsletter,
  &.dealer,
  &.campaign {
    .card-4 {
      .checkboxes > div,
      .radios > div {
        width: 100%;
      }
    }
  }

  .breadcrumb + & {
    padding-top: 40px;
  }
}

// Campaign Monitor
.cm-form {
  label {
    display: none;

    &[for="cm-privacy-consent"] {
      display: inline;
    }
  }

  input {
    width: 100%;

    &[id^="newsletterCheckbox"] + label {
      display: inline;
    }
  
    &[type="checkbox"] {
      margin-bottom: 0;
      transform: translateY(4px);
    }
  }

  button[type="submit"] {
    margin-top: 12px;
  }
}

// ***** Dealerpagina's *****
.dealer-detail .table,
.dealer-detail .open table {
    border-radius: 10px;
    box-shadow: 0px 6px 6px rgba(0,0,0,0.2);
    overflow: hidden;
    max-width: 458px;
    
    .row,
    tr {
        &:nth-of-type(odd) {
            background-color: @secondary-600;
        }
        
        .col,
        td {
            padding: 6px 12px;
            font-family: 'open-sans-light';
            font-size: 16px;
            
            &:first-of-type .heading-4,
            &:first-of-type {
              font-family: 'open-sans-semibold';
            }
            
            &:last-of-type {
              text-align: right;
            }
          }
          
          .col .heading-4 {
            font-family: 'open-sans-light';
            font-size: 16px;
        }
    }
}
.dealer-detail .table {
  .col:has(.empty) {
    display: none;
  }

    &:not(.empty) + .text-5 {
      display: none;
  }

  @media only screen and (min-width: 480px) {
    .col:has(.empty) {
      display: flex;
    }
  }
}

// ***** Productpagina's *****
.prod-acc {
  background-image: none !important;
  cursor: default !important;

  + .box-3 > .text-5.dark {
   display: none !important;
  }
}

// Veranda typen - product vlaggen
.productflags {
  .text-3 ul li:before {
    color: #ffffff;
  }
  .productflag-slider {
    overflow:hidden!important;

    .smartline-flag .card-3>x-shape-bg>*{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Laag_2' data-name='Laag 2' viewBox='0 0 600 1920'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23e88734; %7D %3C/style%3E%3C/defs%3E%3Cg id='Laag_1-2' data-name='Laag 1-2'%3E%3Cpath id='csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051' data-name='csm Verasol Fabriek - Seher Melikoglu Fotografie-6831 a0ceb3d051' class='cls-1' d='M600,0v1733.06c0,10.69-7.58,23.82-16.83,29.16l-266.33,153.77c-9.26,5.35-24.42,5.35-33.67,0L16.84,1762.23C7.58,1756.88,0,1743.76,0,1733.07V0s600,0,600,0h0Z'/%3E%3C/g%3E%3Cdiv xmlns='' id='divScriptsUsed' style='display: none'/%3E%3Cscript xmlns='' id='globalVarsDetection' src='chrome-extension://cmkdbmfndkfgebldhnkbfhlneefdaaip/js/wrs_env.js'/%3E%3C/svg%3E");
      }

    .greenline-flag .card-3>x-shape-bg>*{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Laag_2' data-name='Laag 2' viewBox='0 0 600 1920'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23dc640f; %7D %3C/style%3E%3C/defs%3E%3Cg id='Laag_1-2' data-name='Laag 1-2'%3E%3Cpath id='csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051' data-name='csm Verasol Fabriek - Seher Melikoglu Fotografie-6831 a0ceb3d051' class='cls-1' d='M600,0v1733.06c0,10.69-7.58,23.82-16.83,29.16l-266.33,153.77c-9.26,5.35-24.42,5.35-33.67,0L16.84,1762.23C7.58,1756.88,0,1743.76,0,1733.07V0s600,0,600,0h0Z'/%3E%3C/g%3E%3Cdiv xmlns='' id='divScriptsUsed' style='display: none'/%3E%3Cscript xmlns='' id='globalVarsDetection' src='chrome-extension://cmkdbmfndkfgebldhnkbfhlneefdaaip/js/wrs_env.js'/%3E%3C/svg%3E");
      }

    .profiline-flag .card-3 {
      x-shape-bg>*{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Laag_2' data-name='Laag 2' viewBox='0 0 600 1920'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cg id='Laag_1-2' data-name='Laag 1-2'%3E%3Cpath id='csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051' data-name='csm Verasol Fabriek - Seher Melikoglu Fotografie-6831 a0ceb3d051' class='cls-1' d='M600,0v1733.06c0,10.69-7.58,23.82-16.83,29.16l-266.33,153.77c-9.26,5.35-24.42,5.35-33.67,0L16.84,1762.23C7.58,1756.88,0,1743.76,0,1733.07V0s600,0,600,0h0Z'/%3E%3C/g%3E%3Cdiv xmlns='' id='divScriptsUsed' style='display: none'/%3E%3Cscript xmlns='' id='globalVarsDetection' src='chrome-extension://cmkdbmfndkfgebldhnkbfhlneefdaaip/js/wrs_env.js'/%3E%3C/svg%3E");
      }

      .text-3 ul li::before {
        color:@primary-400;
      }

      .button-4 {
        border: 1px solid @primary-400;
      }
    }

    .linea-flag .card-3>x-shape-bg>*{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Laag_2' data-name='Laag 2' viewBox='0 0 600 1920'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23838989; %7D %3C/style%3E%3C/defs%3E%3Cg id='Laag_1-2' data-name='Laag 1-2'%3E%3Cpath id='csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051' data-name='csm Verasol Fabriek - Seher Melikoglu Fotografie-6831 a0ceb3d051' class='cls-1' d='M600,0v1733.06c0,10.69-7.58,23.82-16.83,29.16l-266.33,153.77c-9.26,5.35-24.42,5.35-33.67,0L16.84,1762.23C7.58,1756.88,0,1743.76,0,1733.07V0s600,0,600,0h0Z'/%3E%3C/g%3E%3Cdiv xmlns='' id='divScriptsUsed' style='display: none'/%3E%3Cscript xmlns='' id='globalVarsDetection' src='chrome-extension://cmkdbmfndkfgebldhnkbfhlneefdaaip/js/wrs_env.js'/%3E%3C/svg%3E");
    }

    .cube-flag .card-3>x-shape-bg>*{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Laag_2' data-name='Laag 2' viewBox='0 0 600 1920'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23636363; %7D %3C/style%3E%3C/defs%3E%3Cg id='Laag_1-2' data-name='Laag 1-2'%3E%3Cpath id='csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051' data-name='csm Verasol Fabriek - Seher Melikoglu Fotografie-6831 a0ceb3d051' class='cls-1' d='M600,0v1733.06c0,10.69-7.58,23.82-16.83,29.16l-266.33,153.77c-9.26,5.35-24.42,5.35-33.67,0L16.84,1762.23C7.58,1756.88,0,1743.76,0,1733.07V0s600,0,600,0h0Z'/%3E%3C/g%3E%3Cdiv xmlns='' id='divScriptsUsed' style='display: none'/%3E%3Cscript xmlns='' id='globalVarsDetection' src='chrome-extension://cmkdbmfndkfgebldhnkbfhlneefdaaip/js/wrs_env.js'/%3E%3C/svg%3E");
    }

    .pergola-flag .card-3>x-shape-bg>*{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Laag_2' data-name='Laag 2' viewBox='0 0 600 1920'%3E%3Cg id='Laag_1-2' data-name='Laag 1-2'%3E%3Cpath id='csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051' data-name='csm Verasol Fabriek - Seher Melikoglu Fotografie-6831 a0ceb3d051' d='M600,0v1733.06c0,10.69-7.58,23.82-16.83,29.16l-266.33,153.77c-9.26,5.35-24.42,5.35-33.67,0L16.84,1762.23C7.58,1756.88,0,1743.76,0,1733.07V0s600,0,600,0h0Z'/%3E%3C/g%3E%3C/svg%3E");
    }

    article {
      .text-3 {
        // font-size:15px;
        padding: 0px 20px;

        ul {
          list-style:none;
          padding-left:0px;
          position: relative;

          li {
            &:before {
              content: "\f00c";
              font-family: "FontAwesome";
              position: absolute;
              left:-20px;
            }
          }
        }
      }

      .greenline-flag .text-3 ul li:before {
        color: #ffffff;
      }
    }

    .heading-7, .heading-7 strong  {
      font-family:'Isidora Sans Alt', sans-serif;
    }
  }

  .inner-flag-carousel {
    .control-wrapper {
      display:flex;
      position: relative!important;
      bottom: auto;
      top: -15px!important;
      justify-content: center;
      z-index: 30;

      .control-3.active, .control-3:hover  {
        background-color:@primary-400;
      }
    }
  }
}

// ***** FAQ Section *****
.faq-section {
  .media-4.arrow-right {
    height: 300px;
    position: absolute;
    // align-self: anchor-center; // dit werkt niet in safari en firefox
    left: 0;
    // margin-bottom: 50px;
    top: 50%;
    transform: translateY(-50%);

  }

  .media-3.faq-helper {
    position: absolute;
    // width: 260px;
    left: 65px;
    // align-self: anchor-center; // dit werkt niet in safari en firefox
    // bottom: 64px;
    height: 360px;
    transform:~"translateY(calc(50% - 30px))";
    bottom: 50%;
    margin-bottom: 0;
  }

  .accordion {
    .handler.active {
      font-family: 'open-sans-bold';
    }

    // .text-4 p {
    //   font-size: 14px;
    // }
  }

  .footnote p {
    font-size: 12px;

    a {
      color: @primary-400;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// FAQ Helper uit op safari
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .faq-helper {
      display: none !important;
    }
  }
} // volgens mij staat ie gewoon op safari, dus dan kan dit weg?

.faq-section {
  @media (min-width:768px) and (max-width:1023px) {
    .media-3.faq-helper {
      left: -25px;
    }
  }

  @media only screen and (max-width: 767px) {
    overflow: hidden;

    >.media-4.arrow-right,
    >.faq-helper {
      display: none !important;
    }

    .media-4.arrow-right {
      align-self: self-end;
      width: 100%;
    }

    .media-3.faq-helper {
      left: 0;
    }

    .container {
      order: 1;
    }
  }
}

// ***** Reviews *****
.review-section {
  i.fa-star {
    -webkit-text-stroke: 2px #fff;
    font-size: 20px;
  }
}

// ***** Projecten *****
// Slider
.project-slider {
  .box-1 {
    background: linear-gradient(0deg, rgba(0,0,0,.5), transparent);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .heading-7 a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: @primary-400;
  }
}

// ***** Lijsten in teksten vinkjes geven *****
.text-1,
.text-2,
.text-3,
.text-4,
.text-5,
.text-6,
.text-7 {
  ul,
  ul.checklist {
    list-style:none;
    padding-left:0px;
    position: relative;
    margin-left: 24px;
  
    li {
      &:before {
        content: "\f00c";
        font-family: "FontAwesome";
        position: absolute;
        left:-20px;
        color: @primary-400;
      }
    }
  }

  footer &, 
  header & {
    ul:not(.usp) {
      margin-left: 0;

      li:before {
        display: none;
      }
    }
  }

  .legal & {
    ul {
      list-style: disc;
      
      li:before {
        display: none;
      }
    }
  }
}

// ***** Bold in teksten ook echt bold *****
.text-1,
.text-2,
.text-3,
.text-4,
.text-5,
.text-6,
.text-7 {
  strong {
    font-family: 'open-sans-semibold';
  }
}

// ***** Diversen *****
#afmetingen .handler-1.handler.dark,
#situatie .handler-1.handler.dark,
#samenstellen .handler-1.handler.dark,
#uitbreiden .handler-1.handler.dark,
#aankleden .handler-1.handler.dark,
#afronden .handler-1.handler.dark {
  padding-right: 30px;
}

.container-tabel {
  overflow-x: scroll;
}

.row-tabel {
  min-width: 600px;
}

.dnone {
  display: none;
}

.header-menu + .breadcrumb {
  margin-top: 75px;
}
// dakbedekking
.box-specificatie{
  overflow-x: auto;
}

.dakbedekking-col{
  min-width: 700px;
}

// ***** Blogs *****
.blog-heading a {
  text-decoration: none !important;
}

.blog-content {
  .text-3 {
    img {
      border-radius: 10px;
      max-width: 600px;

      +img:nth-of-type(even) {
        margin-left: 15px;
        margin-bottom: 30px;
        width: ~"calc(50% - 15px)";
      }
      
      &:nth-of-type(odd){
        &:has(+ img),
        &:last-child {
          margin-right: 15px;
          margin-bottom: 30px;
          width: ~"calc(50% - 15px)";
        }
      }
    }

    ul {
      margin-bottom: 2em !important;
    }
  }

  @media only screen and (min-width: 768px) {
    .text-3 {
      img {
        border-radius: 20px;
      }
    }
  }
}

// ***** FAQ-pagina *****
#page-2063530 .accordion .box-2{
  background-color: @primary-500;
  border-radius: 20px;
  margin-bottom: 10px;

  .handler {
    color: #ffffff !important;
    padding: 10px 15px;
    font-size: 20px;
  }
  
  .listener {
    padding: 20px;

    p{
      color: #ffffff !important;
    };
  }
}

// ***** Service pagina's *****
.service {
  .sticky {
    position: sticky;
    top: 150px;
    height: fit-content;
  }

  .menu-3 {
    >ul {
      >li.active {
        >a {
          font-size: 16px;
          font-family: 'open-sans-light';
          font-weight: 300;
        }
      }

      >li {
        margin-right: 0px;

        >a {
          font-size: 16px;
          font-family: 'open-sans-light';
          font-weight: 300;
        }
      }

      flex-direction: column;
      align-items: flex-start;
    }


    &.dark {
      >ul {
        >li.active {
          >a {
            color: @primary-400;
          }
        }

        >li {
          >a {
            color: @primary-500;

            &:focus {
              color: @primary-400;
            }
          }

          &:hover {
            >a {
              color: @primary-400;
            }
          }
        }
      }
    }
  }
}

// ***** Folder *****
.folder {
  .hero-arrows + & {
    margin-top: -20px;
    
    @media only screen and (min-width: 768px) {
        margin-top: -50px;
    }
    
    @media only screen and (min-width: 1024px) {
        margin-top: -100px;
    }
  }
}

// ***** Algemene contentblokken *****
// Content/Intro 2 kolommen met USP blok
.intro.usp {
  .usp {
    ul li {
      font-family: 'open-sans-semibold';
      padding: 10px 0;
      position: relative;
      max-width: 450px;

      &:not(:last-child):after {
        content: '';
        border-bottom: 1px solid #CBD2D9;
        position: absolute;
        width: ~"calc(100% + 20px)";
        height: 1px;
        bottom: 0;
        left: -20px;
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    .intro {
      padding-right: 50px;
    }

    .usp {
      padding-left: 50px;
    }
  }
}