.primary {
  color: #BF570D;
}
.alt {
  color: #3B3B3B;
}
body > p {
  border: 1px solid pink;
  padding-top: 100px;
  color: #BF570D;
  margin-top: 900px;
}
.container-scrollbar{
  scrollbar-width: none;
}
.ml-0{
  margin-left:0px;
}