html {
  scroll-behavior: smooth;
}
@media only screen and (max-width: 767px) {
  .box-folder-label {
    display: none;
  }
  .scroll-punten {
    display: none;
  }
  .usp-hotspot {
    display: none;
  }
}
.table-row {
  padding-left: 3px;
  padding-right: 3px;
}
.table-row:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.table-row:last-of-type,
.table-row:has(+.checklist-row) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid #eceded;
}
.table-body .col div {
  padding: 10px;
  font-size: 16px;
}
.table-body:nth-child(2n) {
  background-color: #ECEDED;
}
.table-head {
  background-color: #BF570D;
  padding: 7px;
}
.table-head .thead div {
  color: #fff;
}
.table-head .thead,
.table-body .col {
  padding: 0px !important;
}
.text-3.active p {
  font-weight: bold;
}
.scroll-link {
  cursor: pointer;
}
.primary {
  color: #BF570D;
}
.alt {
  color: #636363;
}
.ml-0 {
  margin-left: 0px !important;
}
.arrow-left,
.arrow-right {
  mask-repeat: no-repeat, no-repeat;
  mask-size: auto 100%;
}
.arrow-left {
  mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 600'%3E%3Cpath id='csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051' data-name='csm Verasol Fabriek - Seher Melikoglu Fotografie-6831 a0ceb3d051' d='M1920,600H186.94c-10.69,0-23.82-7.58-29.16-16.83L4.01,316.84c-5.35-9.26-5.35-24.42,0-33.67L157.77,16.84c5.35-9.26,18.47-16.84,29.16-16.84h1733.06v600Z'/%3E%3C/svg%3E");
  mask-position: left center, 100% 0;
}
.arrow-right {
  mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 600'%3E%3Cpath id='csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051' data-name='csm Verasol Fabriek - Seher Melikoglu Fotografie-6831 a0ceb3d051' d='M0,0h1733.06c10.69,0,23.82,7.58,29.16,16.83l153.77,266.33c5.35,9.26,5.35,24.42,0,33.67l-153.77,266.33c-5.35,9.26-18.47,16.84-29.16,16.84H0V0Z'/%3E%3C/svg%3E");
  mask-position: right center, 100% 0;
}
[id*="lib-block"].has-bg-arrow,
[class*="lib-block"].has-bg-arrow {
  margin: 40px 0;
  overflow: hidden;
  padding: 0;
}
[id*="lib-block"].has-bg-arrow:has(.arrow-left),
[class*="lib-block"].has-bg-arrow:has(.arrow-left),
[id*="lib-block"].has-bg-arrow:has(.arrow-right),
[class*="lib-block"].has-bg-arrow:has(.arrow-right) {
  flex-direction: column-reverse;
}
[id*="lib-block"].has-bg-arrow .arrow-left,
[class*="lib-block"].has-bg-arrow .arrow-left,
[id*="lib-block"].has-bg-arrow .arrow-right,
[class*="lib-block"].has-bg-arrow .arrow-right {
  position: relative;
  margin-top: 36px;
  max-height: 600px;
}
[id*="lib-block"].has-bg-arrow .arrow-left,
[class*="lib-block"].has-bg-arrow .arrow-left {
  transform: translateX(12px);
}
[id*="lib-block"].has-bg-arrow .arrow-right,
[class*="lib-block"].has-bg-arrow .arrow-right {
  transform: translateX(-12px);
}
.header-menu + [id*="lib-block"].has-bg-arrow,
.header-menu + [class*="lib-block"].has-bg-arrow {
  margin-top: 0;
}
[id*="lib-block"].has-bg-arrow + [id*="lib-block"].has-bg-arrow,
[class*="lib-block"].has-bg-arrow + [id*="lib-block"].has-bg-arrow,
[id*="lib-block"].has-bg-arrow + [class*="lib-block"].has-bg-arrow,
[class*="lib-block"].has-bg-arrow + [class*="lib-block"].has-bg-arrow {
  margin-top: 0;
}
@media only screen and (max-width: 767px) {
  [id*="lib-block"].has-bg-arrow.mobile-arrow-top,
  [class*="lib-block"].has-bg-arrow.mobile-arrow-top {
    padding: 0px 12px;
  }
  [id*="lib-block"].has-bg-arrow.mobile-arrow-top .arrow-top,
  [class*="lib-block"].has-bg-arrow.mobile-arrow-top .arrow-top {
    mask-size: 100% auto;
    mask-position: top;
    mask-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22Laag_2%22%20data-name%3D%22Laag%202%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20600%201920%22%3E%3Cg%20id%3D%22Laag_1-2%22%20data-name%3D%22Laag%201%22%3E%3Cpath%20id%3D%22csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051%22%20data-name%3D%22csm%20Verasol%20Fabriek%20-%20Seher%20Melikoglu%20Fotografie-6831%20a0ceb3d051%22%20d%3D%22M0%2C1920V186.94c0-10.69%2C7.58-23.82%2C16.83-29.16L283.16%2C4.01c9.26-5.35%2C24.42-5.35%2C33.67%2C0l266.33%2C153.76c9.26%2C5.35%2C16.84%2C18.47%2C16.84%2C29.16v1733.06H0Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    transform: translateX(0px);
    height: 400px;
  }
}
@media only screen and (min-width: 768px) {
  [id*="lib-block"].has-bg-arrow .arrow-left,
  [class*="lib-block"].has-bg-arrow .arrow-left,
  [id*="lib-block"].has-bg-arrow .arrow-right,
  [class*="lib-block"].has-bg-arrow .arrow-right {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    margin-top: 0;
    transform: none;
  }
  [id*="lib-block"].has-bg-arrow .arrow-left,
  [class*="lib-block"].has-bg-arrow .arrow-left {
    left: 50%;
  }
  [id*="lib-block"].has-bg-arrow > .media-4,
  [class*="lib-block"].has-bg-arrow > .media-4 {
    height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
  }
}
[id*="lib-block"].has-bg-arrow .container > .row > .col:only-child {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.vanaf-prijs .card-3 {
  mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 600'%3E%3Cpath id='csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051' data-name='csm Verasol Fabriek - Seher Melikoglu Fotografie-6831 a0ceb3d051' d='M1920,600H186.94c-10.69,0-23.82-7.58-29.16-16.83L4.01,316.84c-5.35-9.26-5.35-24.42,0-33.67L157.77,16.84c5.35-9.26,18.47-16.84,29.16-16.84h1733.06v600Z'/%3E%3C/svg%3E");
  mask-position: right center, 100% 0;
  mask-repeat: no-repeat;
  mask-size: 250px;
  min-width: 200px;
  padding: 5px;
}
.vanaf-prijs .card-3 .text-4 {
  margin: 3px 3px 0px;
  text-align: right;
  padding-right: 20px;
  font-size: 16px;
  color: #fff;
  transform: translate(0px, 3px);
  line-height: 1.75;
}
.vanaf-prijs .card-3 .heading-4 {
  text-align: right;
  font-size: 32px;
  padding-right: 20px;
  color: #fff;
  transform: translate(0px, -7px);
}
.specs-intro .vanaf-prijs {
  display: none;
}
@media only screen and (max-width: 1023px) {
  .usp-pijl-rechts {
    display: none !important;
  }
  .usp-pijl-links {
    display: none !important;
  }
}
.usp-pijl-rechts::before {
  content: "";
  margin-right: -20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Laag_1' data-name='Laag 1' viewBox='0 0 40.46 88.06'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23bf570d; %7D .cls-2 %7B fill: %23fff; isolation: isolate; %7D %3C/style%3E%3C/defs%3E%3Cg id='Group_242' data-name='Group 242'%3E%3Cg id='Group_186-2' data-name='Group 186-2'%3E%3Cpath id='Path_79-2' data-name='Path 79-2' class='cls-1' d='M14.08,83.78c1.64-.07,3.16-.89,4.12-2.22l2.02-3.28,19.68-31.93c.75-1.39.75-3.06,0-4.45L20.22,9.97l-2.02-3.28c-.96-1.33-2.48-2.16-4.12-2.23H2v79.31h12.08Z'/%3E%3Cpath id='Union_4-2' data-name='Union 4-2' class='cls-2' d='M0,88.06h4.22c1.82-.08,3.5-.99,4.56-2.47l2.24-3.63,21.81-35.37c.84-1.54.84-3.39,0-4.93L11.02,6.28l-2.24-3.63C7.72,1.18,6.04.27,4.23.19L0,0v88.06Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right;
  z-index: 0;
  pointer-events: none;
}
.usp-pijl-links::before {
  content: "";
  margin-left: -20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Laag_1' data-name='Laag 1' viewBox='0 0 40.47 88.07'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23bf570d; %7D .cls-2 %7B fill: %23fff; isolation: isolate; %7D %3C/style%3E%3C/defs%3E%3Cg id='Group_242' data-name='Group 242'%3E%3Cg id='Group_186-2' data-name='Group 186-2'%3E%3Cpath id='Path_79-2' data-name='Path 79-2' class='cls-1' d='M39.46,4.28h-13.08c-1.64.07-3.16.89-4.12,2.22l-2.02,3.28L.56,41.71c-.75,1.39-.75,3.06,0,4.45l19.68,31.93,2.02,3.28c.96,1.33,2.48,2.16,4.12,2.23h13.08V4.28Z'/%3E%3Cpath id='Union_4-2' data-name='Union 4-2' class='cls-2' d='M40.46,0h-4.22c-1.82.08-3.5.99-4.56,2.47l-2.24,3.63L7.63,41.47c-.84,1.54-.84,3.39,0,4.93l21.81,35.38,2.24,3.63c1.06,1.48,2.74,2.39,4.56,2.47l4.23.19V0h0Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left;
  z-index: 0;
  pointer-events: none;
}
.hero-arrows {
  padding: 12px !important;
  padding-top: 30px !important;
  min-height: 510px !important;
}
.hero-arrows .heading-1 {
  text-wrap: balance;
}
.hero-arrows.hero {
  min-height: 490px !important;
}
.hero-arrows.hero .media-4 {
  border-radius: 0;
}
.hero-arrows.hero .col.content {
  align-items: center;
  justify-content: center;
}
.hero-arrows.hero .text-hero .heading-1 {
  text-align: center;
}
.hero-arrows.hero .col.arrows {
  display: none;
}
.hero-arrows.hero .box.arrows {
  left: unset;
  right: 0;
}
.hero-arrows .container {
  width: 100%;
}
.hero-arrows .row-1,
.hero-arrows .row-2 {
  padding: 0;
}
.hero-arrows .media-4 {
  border-radius: 20px;
}
.hero-arrows .media-4:after {
  background-color: rgba(0, 0, 0, 0.1);
}
.hero-arrows .col.content {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.hero-arrows .col.arrows {
  padding: 0;
}
.hero-arrows .box.arrows {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  gap: 10px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}
.hero-arrows .heading-1 {
  text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5);
}
.hero-arrows .usp.usp-arrow-right,
.hero-arrows .usp.usp-arrow-left {
  padding: 5px;
  background-color: #FFFFFF;
  z-index: 99;
  display: flex;
  height: 45px;
  position: relative;
  align-items: center;
  width: fit-content;
}
.hero-arrows .usp.usp-arrow-right:nth-of-type(1),
.hero-arrows .usp.usp-arrow-left:nth-of-type(1) {
  grid-area: 1 / 1 / 2 / 2;
}
.hero-arrows .usp.usp-arrow-right:nth-of-type(2),
.hero-arrows .usp.usp-arrow-left:nth-of-type(2) {
  grid-area: 2 / 1 / 3 / 2;
}
.hero-arrows .usp.usp-arrow-right:nth-of-type(3),
.hero-arrows .usp.usp-arrow-left:nth-of-type(3) {
  grid-area: 3 / 1 / 4 / 2;
}
.hero-arrows .usp.usp-arrow-right::before,
.hero-arrows .usp.usp-arrow-left::before {
  content: "";
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  z-index: 0;
  pointer-events: none;
  height: 100%;
  aspect-ratio: 1/2;
}
.hero-arrows .usp.usp-arrow-right {
  padding-right: 20px;
  left: 0;
}
.hero-arrows .usp.usp-arrow-right::before {
  margin-right: -20px;
  right: 0;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 88'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23bf570d; %7D .cls-2 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Path_79-2' data-name='Path 79-2' class='cls-1' d='M17.64,83.75c1.64-.07,3.16-.89,4.12-2.22l2.02-3.28,19.67-31.91c.75-1.39.75-3.06,0-4.45L23.77,9.99l-2.02-3.28c-.96-1.33-2.48-2.16-4.12-2.23H5.56v79.26h12.07Z'/%3E%3Cpath class='cls-2' d='M36.37,41.63L14.58,6.28l-2.24-3.63C11.28,1.18,9.6.27,7.79.19l-4.23-.19H0v88h7.78c1.82-.08,3.5-.99,4.56-2.47l2.24-3.63,21.8-35.35c.84-1.54.84-3.39,0-4.93Z'/%3E%3C/svg%3E");
  background-position: right;
}
.hero-arrows .usp.usp-arrow-left {
  padding-left: 20px;
  right: 0;
  justify-self: flex-end;
}
.hero-arrows .usp.usp-arrow-left::before {
  margin-left: -20px;
  left: 0;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 88'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23bf570d; %7D .cls-2 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Path_79-2' data-name='Path 79-2' class='cls-1' d='M26.36,4.25c-1.64.07-3.16.89-4.12,2.22l-2.02,3.28L.56,41.65c-.75,1.39-.75,3.06,0,4.45l19.67,31.91,2.02,3.28c.96,1.33,2.48,2.16,4.12,2.23h12.07V4.26h-12.07Z'/%3E%3Cpath class='cls-2' d='M7.63,46.37l21.8,35.36,2.24,3.63c1.06,1.47,2.74,2.38,4.55,2.46l4.23.19h3.57V0h-7.78c-1.82.08-3.5.99-4.56,2.47l-2.24,3.63L7.63,41.44c-.84,1.54-.84,3.39,0,4.93Z'/%3E%3C/svg%3E");
  background-position: left;
}
.hero-arrows .usp .text-1 {
  font-size: 12px;
  padding: 0px;
  white-space: normal;
  line-height: 1.2;
  color: #636363;
}
.hero-arrows .actie-vaantje-onderkant {
  margin-top: -30px;
  top: -5px;
  z-index: 2;
  position: absolute;
  right: 8px;
  border-radius: 0px;
}
.hero-arrows .actie-vaantje-onderkant[data-shape="bg"] {
  padding-bottom: 32px;
}
.hero-arrows .actie-vaantje-onderkant .actie {
  align-items: center;
  padding: 6px;
  padding-top: 12px;
}
.hero-arrows .actie-vaantje-onderkant .actie .media-3 {
  width: 88px;
  height: 117px;
  border-radius: 0px;
}
.hero-arrows .actie-vaantje-onderkant .actie .button-1 {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  font-size: 12px;
  padding: 6px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 0px;
  margin-top: 6px;
  width: 110px;
}
@media only screen and (min-width: 480px) {
  .hero-arrows .usp .text-1 {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) {
  .hero-arrows .col.content {
    padding: 30px;
  }
  .hero-arrows .box.arrows {
    padding-bottom: 60px;
  }
  .hero-arrows .usp.usp-arrow-left,
  .hero-arrows .usp.usp-arrow-right {
    height: 55px;
  }
  .hero-arrows .usp.usp-arrow-right {
    padding-left: 10px;
  }
  .hero-arrows .usp.usp-arrow-right::before {
    margin-right: -27px;
  }
  .hero-arrows .usp.usp-arrow-left {
    padding-right: 10px;
  }
  .hero-arrows .usp.usp-arrow-left::before {
    margin-left: -27px;
  }
  .hero-arrows .usp .text-1 {
    font-size: 18px;
  }
  .hero-arrows .actie-vaantje-onderkant {
    top: 30px;
    border-radius: 5px;
    right: 20px;
  }
  .hero-arrows .actie-vaantje-onderkant .actie {
    padding: 6px;
  }
  .hero-arrows .actie-vaantje-onderkant .actie .media-3 {
    width: 120px;
    height: 160px;
  }
}
@media only screen and (min-width: 1024px) {
  .hero-arrows {
    min-height: 800px !important;
  }
  .hero-arrows.hero {
    padding: 0 !important;
    min-height: 570px !important;
  }
  .hero-arrows.hero .col.arrows {
    display: flex;
  }
  .hero-arrows .col.content {
    padding: 60px;
  }
  .hero-arrows .box.arrows {
    padding-bottom: 80px;
    gap: 20px;
  }
  .hero-arrows .usp.usp-arrow-left {
    padding-right: 20px;
  }
  .hero-arrows .usp.usp-arrow-right {
    padding-left: 20px;
  }
  .hero-arrows .actie-vaantje-onderkant {
    margin-top: 0;
    right: 32px;
  }
  .hero-arrows .actie-vaantje-onderkant .actie {
    padding: 12px;
  }
}
.menu nav[data-menu="language"]::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
}
html[lang="nl"] .menu nav[data-menu="language"]::after {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23ae1c28; %7D .cls-2 %7B fill: %2321468b; %7D .cls-3 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M14.59,170.67h482.83C462.27,71.24,367.46,0,256,0S49.73,71.24,14.59,170.67Z'/%3E%3Cpath class='cls-3' d='M0,256c0,29.92,5.15,58.64,14.59,85.33h482.83c9.44-26.69,14.59-55.41,14.59-85.33s-5.15-58.64-14.59-85.33H14.59C5.15,197.36,0,226.08,0,256Z'/%3E%3Cpath class='cls-2' d='M497.41,341.33H14.59c35.15,99.43,129.95,170.67,241.41,170.67s206.27-71.24,241.41-170.67Z'/%3E%3C/svg%3E");
}
html[lang="de"] .menu nav[data-menu="language"]::after {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fc0; %7D .cls-2 %7B fill: %23000001; %7D .cls-3 %7B fill: red; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M497.41,341.33H14.59c35.15,99.43,129.95,170.67,241.41,170.67s206.27-71.24,241.41-170.67Z'/%3E%3Cpath class='cls-2' d='M14.59,170.67h482.83C462.27,71.24,367.46,0,256,0S49.73,71.24,14.59,170.67Z'/%3E%3Cpath class='cls-3' d='M0,256c0,29.92,5.15,58.64,14.59,85.33h482.83c9.44-26.69,14.59-55.41,14.59-85.33s-5.15-58.64-14.59-85.33H14.59C5.15,197.36,0,226.08,0,256Z'/%3E%3C/svg%3E");
}
.actie-banner-mobiel {
  display: none;
}
.actie-vaantje-categorie {
  display: block;
}
@media only screen and (max-width: 600px) {
  .actie-banner-mobiel {
    display: block;
  }
  .actie-vaantje-categorie {
    display: none;
  }
}
.hero:has(.timer) + .locator-widget {
  padding-top: 20px;
  padding-bottom: 20px;
}
.hero:has(.timer) + .locator-widget .row-1 {
  bottom: 0;
}
@media only screen and (min-width: 768px) {
  .locator-widget input {
    text-align: left;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Laag_1' data-name='Laag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 18'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23636363; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M15.48,8.5c-.24-3.18-2.79-5.73-5.98-5.97V0h-1v2.53c-3.18.24-5.73,2.79-5.97,5.97H0v1h2.53c.24,3.18,2.79,5.73,5.97,5.97v2.53h1v-2.53c3.19-.24,5.73-2.79,5.98-5.97h1.53v-1h-1.53ZM8.5,3.53v2.03c-1.53.22-2.73,1.42-2.95,2.95h-2.03c.24-2.63,2.34-4.74,4.97-4.97ZM3.53,9.5h2.03c.22,1.53,1.42,2.73,2.95,2.95v2.02c-2.63-.24-4.74-2.34-4.97-4.97ZM9.5,14.47v-2.02c1.53-.22,2.73-1.42,2.95-2.95h2.03c-.24,2.63-2.34,4.74-4.98,4.97ZM12.45,8.5c-.22-1.53-1.42-2.73-2.95-2.95v-2.03c2.63.24,4.74,2.34,4.98,4.97h-2.03Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    padding-left: 32px;
    background-size: 18px;
    background-position-y: center;
  }
}
.control-wrapper.bullets,
.swiper-pagination-bullets {
  column-gap: 6px!important;
}
.control-wrapper.bullets button.bullet,
.swiper-pagination-bullets button.bullet,
.control-wrapper.bullets span.control-3,
.swiper-pagination-bullets span.control-3 {
  background-color: #dbdbdb;
  width: 10px;
  border: none;
}
.control-wrapper.bullets button.bullet.active,
.swiper-pagination-bullets button.bullet.active,
.control-wrapper.bullets span.control-3.active,
.swiper-pagination-bullets span.control-3.active {
  width: 30px;
  background-color: #BF570D;
}
.cat-slider .card-3 .button-4 {
  border: none;
}
.cat-slider .card-3 .cat-slider-submenu {
  display: none;
  width: auto!important;
  justify-self: center;
}
.cat-slider .card-3 .cat-slider-submenu .button-wrapper {
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 15px;
}
.cat-slider .card-3 .cat-slider-submenu .button-wrapper .button-6 {
  border-right: 1px solid #eee;
  padding: 0px 15px 0px 5px;
  text-align: center;
  color: #BF570D;
}
.cat-slider .card-3 .cat-slider-submenu .button-wrapper .button-6:last-of-type {
  border-right: none;
}
.cat-slider .card-3:hover .button-4 {
  background-color: #BF570D;
  color: #fff;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
}
.cat-slider .card-3:hover .cat-slider-submenu {
  display: block;
}
@media only screen and (max-width: 767px) {
  .cat-slider .swiper-slide-active .card-3 .button-4 {
    background-color: #BF570D !important;
    color: #fff !important;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2) !important;
  }
  .cat-slider .swiper-slide-active .card-3 .cat-slider-submenu {
    display: block;
  }
}
.orange-shadow:after {
  position: absolute;
  content: '';
  bottom: 0px;
  width: 90%;
  justify-self: center;
  height: 0px;
  background: transparent;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 0.3s all ease-in-out;
}
.orange-shadow:hover:after {
  background: #BF570D;
  bottom: -10px;
  height: 10px;
  transition: 0.3s all ease-in-out;
}
@media only screen and (max-width: 767px) {
  .swiper-slide-active .orange-shadow:after {
    background: #BF570D !important;
    bottom: -10px !important;
    height: 10px!important;
  }
}
div#page-1977967 .ons-assortiment .grey-bg-arrow {
  display: none;
}
.ons-assortiment {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0!important;
}
.ons-assortiment .grey-bg-arrow {
  width: 100%;
  background-size: auto 75%;
  background-position: -200px bottom;
  background-repeat: no-repeat;
  background-image: url(https://files.bureauvdo.nl/grey_bg-arrow-right.svg);
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ons-assortiment button.previous {
  fill: #e8c1a0 !important;
}
.ons-assortiment button.next {
  fill: #BF570D !important;
}
.ons-assortiment .cat-slider-submenu {
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  width: 100%;
}
.ons-assortiment .cat-slider-submenu a.button-6 {
  text-decoration: none;
}
.ons-assortiment .cat-slider-submenu a.button-6:hover {
  text-decoration: underline;
}
section.form .card-4 .checkboxes,
section.form .card-4 .radios {
  display: flex;
  flex-wrap: wrap;
}
section.form .card-4 .checkboxes > div,
section.form .card-4 .radios > div {
  width: 50%;
}
section.form.newsletter .card-4 .checkboxes > div,
section.form.dealer .card-4 .checkboxes > div,
section.form.campaign .card-4 .checkboxes > div,
section.form.newsletter .card-4 .radios > div,
section.form.dealer .card-4 .radios > div,
section.form.campaign .card-4 .radios > div {
  width: 100%;
}
.breadcrumb + section.form {
  padding-top: 40px;
}
.cm-form label {
  display: none;
}
.cm-form label[for="cm-privacy-consent"] {
  display: inline;
}
.cm-form input {
  width: 100%;
}
.cm-form input[id^="newsletterCheckbox"] + label {
  display: inline;
}
.cm-form input[type="checkbox"] {
  margin-bottom: 0;
  transform: translateY(4px);
}
.cm-form button[type="submit"] {
  margin-top: 12px;
}
.dealer-detail .table,
.dealer-detail .open table {
  border-radius: 10px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 458px;
}
.dealer-detail .table .row:nth-of-type(odd),
.dealer-detail .open table .row:nth-of-type(odd),
.dealer-detail .table tr:nth-of-type(odd),
.dealer-detail .open table tr:nth-of-type(odd) {
  background-color: #ECEDED;
}
.dealer-detail .table .row .col,
.dealer-detail .open table .row .col,
.dealer-detail .table tr .col,
.dealer-detail .open table tr .col,
.dealer-detail .table .row td,
.dealer-detail .open table .row td,
.dealer-detail .table tr td,
.dealer-detail .open table tr td {
  padding: 6px 12px;
  font-family: 'open-sans-light';
  font-size: 16px;
}
.dealer-detail .table .row .col:first-of-type .heading-4,
.dealer-detail .open table .row .col:first-of-type .heading-4,
.dealer-detail .table tr .col:first-of-type .heading-4,
.dealer-detail .open table tr .col:first-of-type .heading-4,
.dealer-detail .table .row td:first-of-type .heading-4,
.dealer-detail .open table .row td:first-of-type .heading-4,
.dealer-detail .table tr td:first-of-type .heading-4,
.dealer-detail .open table tr td:first-of-type .heading-4,
.dealer-detail .table .row .col:first-of-type,
.dealer-detail .open table .row .col:first-of-type,
.dealer-detail .table tr .col:first-of-type,
.dealer-detail .open table tr .col:first-of-type,
.dealer-detail .table .row td:first-of-type,
.dealer-detail .open table .row td:first-of-type,
.dealer-detail .table tr td:first-of-type,
.dealer-detail .open table tr td:first-of-type {
  font-family: 'open-sans-semibold';
}
.dealer-detail .table .row .col:last-of-type,
.dealer-detail .open table .row .col:last-of-type,
.dealer-detail .table tr .col:last-of-type,
.dealer-detail .open table tr .col:last-of-type,
.dealer-detail .table .row td:last-of-type,
.dealer-detail .open table .row td:last-of-type,
.dealer-detail .table tr td:last-of-type,
.dealer-detail .open table tr td:last-of-type {
  text-align: right;
}
.dealer-detail .table .row .col .heading-4,
.dealer-detail .open table .row .col .heading-4,
.dealer-detail .table tr .col .heading-4,
.dealer-detail .open table tr .col .heading-4 {
  font-family: 'open-sans-light';
  font-size: 16px;
}
.dealer-detail .table .col:has(.empty) {
  display: none;
}
.dealer-detail .table:not(.empty) + .text-5 {
  display: none;
}
@media only screen and (min-width: 480px) {
  .dealer-detail .table .col:has(.empty) {
    display: flex;
  }
}
.prod-acc {
  background-image: none !important;
  cursor: default !important;
}
.prod-acc + .box-3 > .text-5.dark {
  display: none !important;
}
.productflags .text-3 ul li:before {
  color: #ffffff;
}
.productflags .productflag-slider {
  overflow: hidden!important;
}
.productflags .productflag-slider .smartline-flag .card-3 > x-shape-bg > * {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Laag_2' data-name='Laag 2' viewBox='0 0 600 1920'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23e88734; %7D %3C/style%3E%3C/defs%3E%3Cg id='Laag_1-2' data-name='Laag 1-2'%3E%3Cpath id='csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051' data-name='csm Verasol Fabriek - Seher Melikoglu Fotografie-6831 a0ceb3d051' class='cls-1' d='M600,0v1733.06c0,10.69-7.58,23.82-16.83,29.16l-266.33,153.77c-9.26,5.35-24.42,5.35-33.67,0L16.84,1762.23C7.58,1756.88,0,1743.76,0,1733.07V0s600,0,600,0h0Z'/%3E%3C/g%3E%3Cdiv xmlns='' id='divScriptsUsed' style='display: none'/%3E%3Cscript xmlns='' id='globalVarsDetection' src='chrome-extension://cmkdbmfndkfgebldhnkbfhlneefdaaip/js/wrs_env.js'/%3E%3C/svg%3E");
}
.productflags .productflag-slider .greenline-flag .card-3 > x-shape-bg > * {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Laag_2' data-name='Laag 2' viewBox='0 0 600 1920'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23dc640f; %7D %3C/style%3E%3C/defs%3E%3Cg id='Laag_1-2' data-name='Laag 1-2'%3E%3Cpath id='csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051' data-name='csm Verasol Fabriek - Seher Melikoglu Fotografie-6831 a0ceb3d051' class='cls-1' d='M600,0v1733.06c0,10.69-7.58,23.82-16.83,29.16l-266.33,153.77c-9.26,5.35-24.42,5.35-33.67,0L16.84,1762.23C7.58,1756.88,0,1743.76,0,1733.07V0s600,0,600,0h0Z'/%3E%3C/g%3E%3Cdiv xmlns='' id='divScriptsUsed' style='display: none'/%3E%3Cscript xmlns='' id='globalVarsDetection' src='chrome-extension://cmkdbmfndkfgebldhnkbfhlneefdaaip/js/wrs_env.js'/%3E%3C/svg%3E");
}
.productflags .productflag-slider .profiline-flag .card-3 x-shape-bg > * {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Laag_2' data-name='Laag 2' viewBox='0 0 600 1920'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cg id='Laag_1-2' data-name='Laag 1-2'%3E%3Cpath id='csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051' data-name='csm Verasol Fabriek - Seher Melikoglu Fotografie-6831 a0ceb3d051' class='cls-1' d='M600,0v1733.06c0,10.69-7.58,23.82-16.83,29.16l-266.33,153.77c-9.26,5.35-24.42,5.35-33.67,0L16.84,1762.23C7.58,1756.88,0,1743.76,0,1733.07V0s600,0,600,0h0Z'/%3E%3C/g%3E%3Cdiv xmlns='' id='divScriptsUsed' style='display: none'/%3E%3Cscript xmlns='' id='globalVarsDetection' src='chrome-extension://cmkdbmfndkfgebldhnkbfhlneefdaaip/js/wrs_env.js'/%3E%3C/svg%3E");
}
.productflags .productflag-slider .profiline-flag .card-3 .text-3 ul li::before {
  color: #BF570D;
}
.productflags .productflag-slider .profiline-flag .card-3 .button-4 {
  border: 1px solid #BF570D;
}
.productflags .productflag-slider .linea-flag .card-3 > x-shape-bg > * {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Laag_2' data-name='Laag 2' viewBox='0 0 600 1920'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23838989; %7D %3C/style%3E%3C/defs%3E%3Cg id='Laag_1-2' data-name='Laag 1-2'%3E%3Cpath id='csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051' data-name='csm Verasol Fabriek - Seher Melikoglu Fotografie-6831 a0ceb3d051' class='cls-1' d='M600,0v1733.06c0,10.69-7.58,23.82-16.83,29.16l-266.33,153.77c-9.26,5.35-24.42,5.35-33.67,0L16.84,1762.23C7.58,1756.88,0,1743.76,0,1733.07V0s600,0,600,0h0Z'/%3E%3C/g%3E%3Cdiv xmlns='' id='divScriptsUsed' style='display: none'/%3E%3Cscript xmlns='' id='globalVarsDetection' src='chrome-extension://cmkdbmfndkfgebldhnkbfhlneefdaaip/js/wrs_env.js'/%3E%3C/svg%3E");
}
.productflags .productflag-slider .cube-flag .card-3 > x-shape-bg > * {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Laag_2' data-name='Laag 2' viewBox='0 0 600 1920'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23636363; %7D %3C/style%3E%3C/defs%3E%3Cg id='Laag_1-2' data-name='Laag 1-2'%3E%3Cpath id='csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051' data-name='csm Verasol Fabriek - Seher Melikoglu Fotografie-6831 a0ceb3d051' class='cls-1' d='M600,0v1733.06c0,10.69-7.58,23.82-16.83,29.16l-266.33,153.77c-9.26,5.35-24.42,5.35-33.67,0L16.84,1762.23C7.58,1756.88,0,1743.76,0,1733.07V0s600,0,600,0h0Z'/%3E%3C/g%3E%3Cdiv xmlns='' id='divScriptsUsed' style='display: none'/%3E%3Cscript xmlns='' id='globalVarsDetection' src='chrome-extension://cmkdbmfndkfgebldhnkbfhlneefdaaip/js/wrs_env.js'/%3E%3C/svg%3E");
}
.productflags .productflag-slider .pergola-flag .card-3 > x-shape-bg > * {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Laag_2' data-name='Laag 2' viewBox='0 0 600 1920'%3E%3Cg id='Laag_1-2' data-name='Laag 1-2'%3E%3Cpath id='csm_Verasol_Fabriek_-_Seher_Melikoglu_Fotografie-6831_a0ceb3d051' data-name='csm Verasol Fabriek - Seher Melikoglu Fotografie-6831 a0ceb3d051' d='M600,0v1733.06c0,10.69-7.58,23.82-16.83,29.16l-266.33,153.77c-9.26,5.35-24.42,5.35-33.67,0L16.84,1762.23C7.58,1756.88,0,1743.76,0,1733.07V0s600,0,600,0h0Z'/%3E%3C/g%3E%3C/svg%3E");
}
.productflags .productflag-slider article .text-3 {
  padding: 0px 20px;
}
.productflags .productflag-slider article .text-3 ul {
  list-style: none;
  padding-left: 0px;
  position: relative;
}
.productflags .productflag-slider article .text-3 ul li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  position: absolute;
  left: -20px;
}
.productflags .productflag-slider article .greenline-flag .text-3 ul li:before {
  color: #ffffff;
}
.productflags .productflag-slider .heading-7,
.productflags .productflag-slider .heading-7 strong {
  font-family: 'Isidora Sans Alt', sans-serif;
}
.productflags .inner-flag-carousel .control-wrapper {
  display: flex;
  position: relative!important;
  bottom: auto;
  top: -15px !important;
  justify-content: center;
  z-index: 30;
}
.productflags .inner-flag-carousel .control-wrapper .control-3.active,
.productflags .inner-flag-carousel .control-wrapper .control-3:hover {
  background-color: #BF570D;
}
.faq-section .media-4.arrow-right {
  height: 300px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.faq-section .media-3.faq-helper {
  position: absolute;
  left: 65px;
  height: 360px;
  transform: translateY(calc(50% - 30px));
  bottom: 50%;
  margin-bottom: 0;
}
.faq-section .heading-2 {
  text-align: center;
  margin-bottom: 2rem!important;
}
.faq-section .accordion .handler.active {
  font-family: 'open-sans-bold';
}
.faq-section .accordion .text-5 {
  line-height: 1.8;
}
.faq-section .footnote {
  padding-top: 36px;
}
.faq-section .footnote p {
  font-size: 12px;
}
.faq-section .footnote p a {
  color: #BF570D;
  text-decoration: none;
}
.faq-section .footnote p a:hover {
  text-decoration: underline;
}
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .faq-helper {
      display: none !important;
    }
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .faq-section .media-3.faq-helper {
    left: -25px;
  }
}
@media only screen and (max-width: 767px) {
  .faq-section {
    overflow: hidden;
  }
  .faq-section > .media-4.arrow-right,
  .faq-section > .faq-helper {
    display: none !important;
  }
  .faq-section .media-4.arrow-right {
    align-self: self-end;
    width: 100%;
  }
  .faq-section .media-3.faq-helper {
    left: 0;
  }
  .faq-section .container {
    order: 1;
  }
}
.review-section i.fa-star {
  -webkit-text-stroke: 2px #fff;
  font-size: 20px;
}
.project-slider .box-1 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.project-slider .heading-7 a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #BF570D;
}
.project-slider + [id^="block-74"].light {
  padding-top: 0;
}
.text-1 ul,
.text-2 ul,
.text-3 ul,
.text-4 ul,
.text-5 ul,
.text-6 ul,
.text-7 ul,
.text-1 ul.checklist,
.text-2 ul.checklist,
.text-3 ul.checklist,
.text-4 ul.checklist,
.text-5 ul.checklist,
.text-6 ul.checklist,
.text-7 ul.checklist {
  list-style: none;
  padding-left: 0px;
  position: relative;
  margin-left: 24px;
}
.text-1 ul li:before,
.text-2 ul li:before,
.text-3 ul li:before,
.text-4 ul li:before,
.text-5 ul li:before,
.text-6 ul li:before,
.text-7 ul li:before,
.text-1 ul.checklist li:before,
.text-2 ul.checklist li:before,
.text-3 ul.checklist li:before,
.text-4 ul.checklist li:before,
.text-5 ul.checklist li:before,
.text-6 ul.checklist li:before,
.text-7 ul.checklist li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  position: absolute;
  left: -20px;
  color: #BF570D;
}
footer .text-1 ul:not(.usp),
footer .text-2 ul:not(.usp),
footer .text-3 ul:not(.usp),
footer .text-4 ul:not(.usp),
footer .text-5 ul:not(.usp),
footer .text-6 ul:not(.usp),
footer .text-7 ul:not(.usp),
header .text-1 ul:not(.usp),
header .text-2 ul:not(.usp),
header .text-3 ul:not(.usp),
header .text-4 ul:not(.usp),
header .text-5 ul:not(.usp),
header .text-6 ul:not(.usp),
header .text-7 ul:not(.usp) {
  margin-left: 0;
}
footer .text-1 ul:not(.usp) li:before,
footer .text-2 ul:not(.usp) li:before,
footer .text-3 ul:not(.usp) li:before,
footer .text-4 ul:not(.usp) li:before,
footer .text-5 ul:not(.usp) li:before,
footer .text-6 ul:not(.usp) li:before,
footer .text-7 ul:not(.usp) li:before,
header .text-1 ul:not(.usp) li:before,
header .text-2 ul:not(.usp) li:before,
header .text-3 ul:not(.usp) li:before,
header .text-4 ul:not(.usp) li:before,
header .text-5 ul:not(.usp) li:before,
header .text-6 ul:not(.usp) li:before,
header .text-7 ul:not(.usp) li:before {
  display: none;
}
.legal .text-1 ul,
.legal .text-2 ul,
.legal .text-3 ul,
.legal .text-4 ul,
.legal .text-5 ul,
.legal .text-6 ul,
.legal .text-7 ul {
  list-style: disc;
}
.legal .text-1 ul li:before,
.legal .text-2 ul li:before,
.legal .text-3 ul li:before,
.legal .text-4 ul li:before,
.legal .text-5 ul li:before,
.legal .text-6 ul li:before,
.legal .text-7 ul li:before {
  display: none;
}
.text-1 ol:last-of-type,
.text-2 ol:last-of-type,
.text-3 ol:last-of-type,
.text-4 ol:last-of-type,
.text-5 ol:last-of-type,
.text-6 ol:last-of-type,
.text-7 ol:last-of-type,
.text-1 ul:last-of-type,
.text-2 ul:last-of-type,
.text-3 ul:last-of-type,
.text-4 ul:last-of-type,
.text-5 ul:last-of-type,
.text-6 ul:last-of-type,
.text-7 ul:last-of-type,
.text-1 p:last-of-type,
.text-2 p:last-of-type,
.text-3 p:last-of-type,
.text-4 p:last-of-type,
.text-5 p:last-of-type,
.text-6 p:last-of-type,
.text-7 p:last-of-type,
.text-1 p:not([class^="heading-"]):last-of-type,
.text-2 p:not([class^="heading-"]):last-of-type,
.text-3 p:not([class^="heading-"]):last-of-type,
.text-4 p:not([class^="heading-"]):last-of-type,
.text-5 p:not([class^="heading-"]):last-of-type,
.text-6 p:not([class^="heading-"]):last-of-type,
.text-7 p:not([class^="heading-"]):last-of-type {
  margin-bottom: 2em!important;
}
.text-1 ol:last-child,
.text-2 ol:last-child,
.text-3 ol:last-child,
.text-4 ol:last-child,
.text-5 ol:last-child,
.text-6 ol:last-child,
.text-7 ol:last-child,
.text-1 ul:last-child,
.text-2 ul:last-child,
.text-3 ul:last-child,
.text-4 ul:last-child,
.text-5 ul:last-child,
.text-6 ul:last-child,
.text-7 ul:last-child,
.text-1 p:last-child,
.text-2 p:last-child,
.text-3 p:last-child,
.text-4 p:last-child,
.text-5 p:last-child,
.text-6 p:last-child,
.text-7 p:last-child,
.text-1 p:not([class^="heading-"]):last-child,
.text-2 p:not([class^="heading-"]):last-child,
.text-3 p:not([class^="heading-"]):last-child,
.text-4 p:not([class^="heading-"]):last-child,
.text-5 p:not([class^="heading-"]):last-child,
.text-6 p:not([class^="heading-"]):last-child,
.text-7 p:not([class^="heading-"]):last-child {
  margin-bottom: 0!important;
}
.specs-new article {
  border-style: none;
  border-color: #CBD2D9;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 12px;
  margin-bottom: 10px;
}
.specs-new article.active {
  padding-bottom: 24px;
}
.specs-new .handler-1 {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.specs-new .handler-1.active {
  padding-bottom: 5px;
}
.specs-new .listener {
  padding-top: 18px;
}
.specs-new .listener > .row > .col:last-child {
  padding-bottom: 0!important;
}
.specs-new #afmetingen .handler-1.handler.dark,
.specs-new #situatie .handler-1.handler.dark,
.specs-new #samenstellen .handler-1.handler.dark,
.specs-new #uitbreiden .handler-1.handler.dark,
.specs-new #aankleden .handler-1.handler.dark,
.specs-new #afronden .handler-1.handler.dark {
  padding-right: 0;
}
@media only screen and (min-width: 768px) {
  .specs-new .listener > .row {
    padding-left: 0;
    padding-right: 0;
  }
}
.text-1 strong,
.text-2 strong,
.text-3 strong,
.text-4 strong,
.text-5 strong,
.text-6 strong,
.text-7 strong {
  font-family: 'open-sans-semibold';
}
#afmetingen .handler-1.handler.dark,
#situatie .handler-1.handler.dark,
#samenstellen .handler-1.handler.dark,
#uitbreiden .handler-1.handler.dark,
#aankleden .handler-1.handler.dark,
#afronden .handler-1.handler.dark {
  padding-right: 30px;
}
.container-tabel {
  overflow-x: scroll;
}
.row-tabel {
  min-width: 600px;
}
.dnone {
  display: none;
}
.header-menu + .breadcrumb {
  margin-top: 75px;
}
.box-specificatie {
  overflow-x: auto;
}
.dakbedekking-col {
  min-width: 700px;
  padding: 0;
}
.only-buttons {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.blog-heading a {
  text-decoration: none !important;
}
.blog-content .text-3 img {
  border-radius: 10px;
  max-width: 600px;
}
.blog-content .text-3 img + img:nth-of-type(even) {
  margin-left: 15px;
  margin-bottom: 30px;
  width: calc(50% - 15px);
}
.blog-content .text-3 img:nth-of-type(odd):has(+ img),
.blog-content .text-3 img:nth-of-type(odd):last-child {
  margin-right: 15px;
  margin-bottom: 30px;
  width: calc(50% - 15px);
}
.blog-content .text-3 ul {
  margin-bottom: 2em !important;
}
@media only screen and (min-width: 768px) {
  .blog-content .text-3 img {
    border-radius: 20px;
  }
}
#page-2063530 .accordion .box-2 {
  background-color: #636363;
  border-radius: 20px;
  margin-bottom: 10px;
}
#page-2063530 .accordion .box-2 .handler {
  color: #ffffff !important;
  padding: 10px 15px;
  font-size: 20px;
}
#page-2063530 .accordion .box-2 .listener {
  padding: 20px;
}
#page-2063530 .accordion .box-2 .listener p {
  color: #ffffff !important;
}
.service .sticky {
  position: sticky;
  top: 150px;
  height: fit-content;
}
.service .menu-3 > ul {
  flex-direction: column;
  align-items: flex-start;
}
.service .menu-3 > ul > li.active > a {
  font-size: 16px;
  font-family: 'open-sans-light';
  font-weight: 300;
}
.service .menu-3 > ul > li {
  margin-right: 0px;
}
.service .menu-3 > ul > li > a {
  font-size: 16px;
  font-family: 'open-sans-light';
  font-weight: 300;
}
.service .menu-3.dark > ul > li.active > a {
  color: #BF570D;
}
.service .menu-3.dark > ul > li > a {
  color: #636363;
}
.service .menu-3.dark > ul > li > a:focus {
  color: #BF570D;
}
.service .menu-3.dark > ul > li:hover > a {
  color: #BF570D;
}
.hero-arrows + .folder {
  margin-top: -20px;
}
@media only screen and (min-width: 768px) {
  .hero-arrows + .folder {
    margin-top: -50px;
  }
}
@media only screen and (min-width: 1024px) {
  .hero-arrows + .folder {
    margin-top: -100px;
  }
}
.timer .has-timer {
  height: 60px;
  width: 100%;
}
.timer .has-timer #timer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.timer .has-timer #timer > span {
  width: 33.33333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer .has-timer #timer .number {
  text-align: center;
  background-color: #fff;
  aspect-ratio: 1;
  border-radius: 50%;
  width: 35px;
  font-weight: 600;
  color: #BF570D;
  padding: 5px;
}
.timer .has-timer #timer .text {
  width: fit-content;
}
.hero .timer {
  background-color: #BF570D;
  justify-content: center;
  z-index: 1;
  display: flex;
  margin: 0 -12px -12px -12px;
  width: 100vw;
  max-width: unset!important;
  padding: 6px;
  flex-direction: column;
  align-items: center;
}
.hero .timer h2 {
  font-size: 22px;
  text-align: center;
}
.hero .timer .has-timer {
  font-size: 18px;
  height: unset;
  width: unset;
  min-width: 250px;
}
.hero .timer .has-timer #timer {
  max-width: 300px;
  justify-content: center;
  margin: auto;
}
@media (min-width: 480px) {
  .timer .has-timer #timer {
    justify-content: flex-start;
  }
  .timer .has-timer #timer > span {
    justify-content: flex-start;
  }
}
@media (min-width: 768px) {
  .timer .has-timer #timer .number {
    width: 40px;
  }
  .hero .timer {
    flex-direction: row;
  }
  .hero .timer h2 {
    margin-right: 20px;
  }
  .hero .timer .has-timer #timer {
    margin-left: 20px;
  }
  .hero .timer .has-timer #timer .number {
    width: 35px;
  }
}
@media (min-width: 1024px) {
  .hero .timer {
    padding: 12px;
    margin: 0;
  }
}
.specs-intro .row-2 {
  padding-left: 0;
}
.specs-intro .col-2 .button-wrapper {
  margin-top: 24px;
}
.intro.usp .usp ul li {
  font-family: 'open-sans-semibold';
  padding: 10px 0;
  position: relative;
  max-width: 450px;
}
.intro.usp .usp ul li:not(:last-child):after {
  content: '';
  border-bottom: 1px solid #CBD2D9;
  position: absolute;
  width: calc(100% + 20px);
  height: 1px;
  bottom: 0;
  left: -20px;
}
@media only screen and (min-width: 1024px) {
  .intro.usp .intro {
    padding-right: 50px;
  }
  .intro.usp .usp {
    padding-left: 50px;
  }
}
