@oranje:#BF570D;
@grijs:#3B3B3B;

.primary{
    color: @oranje;
}
.alt{
    color: @grijs;
}     
body>p{
    color:@oranje;
    border:1px solid pink;
    padding-top:100px;
    color:@oranje;
    margin-top:900px;
}